<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid justify-content-between">
        <a class="navbar-brand" href="/">{{title}}</a>
        <select class="form-select w-auto" [(ngModel)]="selected_view" name="selected_view">
            <option value="roadmap">Road Map</option>
            <option value="terrain">Terrain</option>
            <option value="hybrid">Hybrid</option>
            <option value="satellite">Satellite</option>
        </select>

    </div>  
</nav>



<div class="container-fluid m-0 p-0">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]=4 [scrollwheel]="true" [fullscreenControl]='true' [zoomControl]='true' [minZoom]=1 [mapTypeId]="selected_view" [mapTypeControl]='true'>
        <agm-marker *ngFor="let i of all_locations_list" [latitude]="i.latitude" [longitude]="i.longitude">
            <agm-info-window>
                <span class="text-muted fs-5">  
                    #{{i.id}}: {{i.label}}
                </span>
            </agm-info-window>
        </agm-marker>
        <agm-circle [latitude]="28.7041" [longitude]="77.1025" [radius]="500000" [fillColor]="'black'" [circleDraggable]="true" [editable]="true"></agm-circle>
    </agm-map>
</div>



<div class="container p-0">
    <form class="row p-0 m-0" (ngSubmit)="addOrUpdateLocation(selected_location);" required>

        <div class="col-sm-3 p-3 justify-content-center">
            <input type="text" class="form-control shadow-none" placeholder="Enter Latitude" [(ngModel)]="selected_location.latitude" name="selected_location.latitude" required> 
        </div> 

        <div class="col-sm-3 p-3">
            <input type="text" class="form-control shadow-none" placeholder="Enter Longitude" [(ngModel)]="selected_location.longitude" name="selected_location.longitude" required>
        </div>
      
        <div class="col-sm-3 p-3">
            <input type="text" class="form-control shadow-none" placeholder="Enter Address" [(ngModel)]="selected_location.label" name="selected_location.label" required>
        </div>
      
        <div class="col-sm-3 p-3 d-grid">
            <button type=submit class="btn btn-danger shadow-none">
                Submit
            </button>
        </div>

    </form>
</div>


<div class="container p-0 table-overflow">
    <table class="table table-striped table-light table-hover table-overflow">
        <thead class="sticky-top shadow">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Address</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of all_locations_list">
                <th scope="row">{{i.id}}</th>
                <td>{{i.latitude}}</td>
                <td>{{i.longitude}}</td>
                <td>{{i.label}}</td>
                <td>
                    <button class="btn btn-danger shadow-none me-2" type="button" (click)="editLocation(i);">
                        <i class="bi bi-pen-fill"></i>
                    </button>
                    <button class="btn btn-dark shadow-none" type="button" (click)="delLocation(i);">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>



<footer class="fixed-bottom d-flex justify-content-center align-items-center p-3 m-0 border-top lead">
    &copy; 2022 IronX Corp. All Rights Reserved.
</footer>